.book-card {
  width: 50%;
  margin-left: 25%;
  margin-top: 2%;
}

/* .example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
  } */
/* .container {
  justify-content: center;
} */
/* .container > * {
    flex: 1 1 300px;
  } */
